@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, * after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------*/
html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  background-color: #fafafa;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #252B42;
}

/*------------------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*------------------------------------------------*/
._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
._button a {
  color: inherit;
}

/*------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0 0 0 133px;
  padding: 5px 0;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0 23px 0 0;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171.4285714286%;
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

/*--page----------------------------------------------*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page__services {
  position: relative;
  margin: -111px 0 0 0;
  z-index: 2;
}
@media (min-width: 992px) {
  .page__getintouch {
    margin: 0 0 65px 0;
  }
}
/*-----HEADER-BLOCK-----------------------------------------------*/
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  color: #252B42;
}
.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}
@media (max-width: 479px) {
  .header-block__title {
    font-size: 30px;
  }
}
.header-block__sub-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #737373;
}

/*--подвал----------------------------------------------*/
.footer__top {
  background: #17213C;
  padding: 30px 0;
  color: #fff;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px 0 0;
}
.item-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  padding: 20px 15px 20px 0;
}
.item-footer:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3334%;
          flex: 0 1 33.3334%;
}
@media (max-width: 992px) {
  .item-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3333%;
            flex: 0 1 33.3333%;
  }
  .item-footer:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.6666%;
            flex: 0 1 66.6666%;
  }
}
@media (max-width: 520px) {
  .item-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .item-footer:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.item-footer__title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.item-footer__list li:not(:last-child) {
  margin: 0 0 10px 0;
}
.item-footer__link {
  color: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 172%;
}
.item-footer__link:hover {
  text-decoration: underline;
}
.item-footer__contacts {
  margin: -9px 0;
}

.contacts-footer__item {
  display: block;
  padding: 9px 0 9px 35px;
  color: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 172%;
}
.contacts-footer__item:hover {
  text-decoration: underline;
}
.contacts-footer__item:nth-child(1) {
  background: url(../../img/footer__menu_1.svg) no-repeat 0 8px;
}
.contacts-footer__item:nth-child(2) {
  background: url(../../img/footer__menu_2.svg) no-repeat 0 8px;
}
.contacts-footer__item:nth-child(3) {
  background: url(../../img/footer__menu_3.svg) no-repeat 0 8px;
}

.bottom-footer {
  padding: 25px 0;
}
.bottom-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom-footer__text {
  padding: 0 15px 0 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
}
.bottom-footer__social {
  margin: 0 -10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__link {
  padding: 0 10px;
}

/*--main_block----------------------------------------------*/
.main-block {
  position: relative;
}
.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }
}
.main-block__title {
  font-size: 58px;
  line-height: 137.9310344828%;
  letter-spacing: 0.2px;
  font-weight: 800;
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  color: #737373;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 150%;
}
@media (max-width: 479px) {
  .main-block__text {
    color: #585858;
  }
}
.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  background: #FF7B47;
  border-radius: 37px;
  border: 1px solid rgba(251, 251, 251, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  padding: 5px 36px;
  margin: 10px 0;
}
.main-block__button:hover {
  border: 1px solid #FF7B47;
  background: none;
  color: #FF7B47;
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 479px) {
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.main-block__button_border {
  color: #0D5C63;
  background: none;
  border: 1px solid #0D5C63;
}
.main-block__button_border:hover {
  border: 1px solid rgba(251, 251, 251, 0);
  background: #0D5C63;
  color: #FFF;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

/*--------------------------------------------------------*/
.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.services__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 0 30px 0;
}
@media (max-width: 992px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.services__item {
  height: 100%;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
}
@media (max-width: 479px) {
  .services__item {
    padding: 20px;
  }
}

.item-service_green {
  background: #0D5C63;
}
.item-service_green .item-service__title,
.item-service_green .item-service__text {
  color: #fff;
}
.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.item-service__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}
.item-service__text {
  color: #737373;
  line-height: 142%;
}

/*--------------------------------------------------------*/
.advantages {
  padding: 80px 0;
}
@media (max-width: 767px) {
  .advantages {
    padding: 40px 0;
  }
}
.advantages__header {
  margin: 0 0 50px 0;
}
@media (max-width: 992px) {
  .advantages__header {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 479px) {
  .advantages__header {
    margin: 0 0 30px 0;
  }
}
.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.advantages__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
@media (max-width: 992px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 20px 10px 0px 10px;
  }
}
@media (max-width: 479px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .advantages__column:first-child {
    padding: 0px 10px 0px 10px;
  }
}
.advantages__item {
  background-color: #fff;
  height: 100%;
  padding: 30px;
  text-align: center;
  font-weight: 700;
}
.advantages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.advantages__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__value {
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}
.advantages__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #737373;
}

/*-----PRACTICE---------------------------------------*/
.practice {
  padding: 125px 0 80px 0;
}
@media (max-width: 992px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 40px 0 40px 0;
  }
}
.practice__header {
  margin: 0 0 45px 0;
}
@media (max-width: 767px) {
  .practice {
    margin: 0 0 25px 0;
  }
}
.practice__body {
  margin: 0 -20px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.practice__column {
  padding: 0 20px;
  margin: 0 0 30px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
@media (max-width: 1040px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 600px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.item-practice {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.item-practice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-practice__link {
  color: inherit;
  display: block;
}
.item-practice__link:hover {
  text-decoration: underline;
}
.item-practice__link:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}
.item-practice__text {
  color: #737373;
  line-height: 142%;
}
.item-practice__image {
  display: block;
  padding: 0 0 60% 0;
}

/*------------------------------------------------*/
.who-we-are {
  background-color: #fff;
  padding: 100px 0;
}
@media (max-width: 950px) {
  .who-we-are {
    padding: 50px 0;
  }
}
.who-we-are__header {
  margin: 0 0 100px 0;
}
@media (max-width: 950px) {
  .who-we-are__header {
    margin: 0 0 30px 0;
  }
}
.who-we-are__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 950px) {
  .who-we-are__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.who-we-are__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}
.who-we-are__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 950px) {
  .who-we-are__video {
    padding: 0 0 56.25% 0;
  }
}
.who-we-are__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.who-content {
  padding: 30px 0 0 120px;
}
@media (max-width: 1080px) {
  .who-content {
    padding: 0px 0 0 60px;
  }
}
@media (max-width: 950px) {
  .who-content {
    padding: 20px 0 0 0px;
  }
}
.who-content__header {
  text-align: left;
}
.who-content__header:not(:last-child) {
  margin: 0 0 50px 0;
}
.who-content__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-who-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-who-content__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  margin: 0 20px 0 0;
}
.item-who-content__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-who-content__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.item-who-content__title:not(:last-child) {
  margin: 0 0 5px 0;
}
.item-who-content__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
  color: #737373;
}

/*----------------------------------------------------------*/
.clients {
  padding: 89px 0 50px 0;
}
@media (max-width: 792px) {
  .clients {
    padding: 40px 0;
  }
}
.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 -20px 0;
}
.clients__item {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  text-align: center;
  margin: 0 0 20px 0;
  min-width: 140px;
}
.clients__item img {
  max-width: 100%;
}

/*----------------------------------------------------------*/
.subscribe {
  position: relative;
  padding: 20px 0;
}
.subscribe:before {
  content: "";
  display: block;
  background: #252B42;
  height: 77px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.subscribe__container {
  max-width: 982px;
}
.subscribe__body {
  position: relative;
  z-index: 2;
  background: #17213C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 40px 30px 50px;
}
@media (max-width: 870px) {
  .subscribe__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 20px 30px;
  }
}
@media (max-width: 680px) {
  .subscribe__body {
    margin: 0 -15px;
    padding: 15px 20px;
  }
}
.subscribe__title {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  letter-spacing: 0.1px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 266px;
          flex: 0 1 266px;
}
@media (max-width: 870px) {
  .subscribe__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 24px;
            flex: 0 1 24px;
    margin: 0 0 20px 0;
  }
}
.subscribe__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 58px;
}
.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  color: #737373;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.subscribe__input:focus {
  color: #000;
}
.subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 117px;
          flex: 0 1 117px;
  background: #FF7B47;
  border: 1px solid #e6e6e6;
  border-left: 0;
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.subscribe__button:hover {
  background: none;
  border: 1px solid 0;
  border-left: 0;
}

/*--------------------------------------------*/
.getintouch {
  padding: 80px 0;
}
@media (max-width: 590px) {
  .getintouch {
    padding: 40px 0;
  }
}
.getintouch__header {
  margin: 0 0 80px 0;
}
@media (max-width: 590px) {
  .getintouch__header {
    margin: 0 0 30px 0;
  }
}
.getintouch__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 992px) {
  .getintouch__body {
    margin: 0 30px;
  }
}
@media (max-width: 590px) {
  .getintouch__body {
    margin: 0 -15px;
  }
}
.getintouch__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 30px 0;
}
@media (max-width: 992px) {
  .getintouch__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 590px) {
  .getintouch__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.getintouch__column:not(:nth-child(2)) .item-getintouch {
  background-color: #fff;
}
@media (max-width: 992px) {
  .getintouch__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 15px 7.5px 15px 0;
  }
}
@media (max-width: 590px) {
  .getintouch__column:nth-child(1) {
    padding: 15px 0;
  }
}
@media (max-width: 992px) {
  .getintouch__column:nth-child(3) {
    padding: 15px 0 15px 7.5px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 590px) {
  .getintouch__column:nth-child(3) {
    padding: 0;
  }
}
.getintouch__column:nth-child(2) {
  background: #252B42;
  color: #fff;
}
@media (max-width: 992px) {
  .getintouch__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.getintouch__column:nth-child(2) .item-getintouch__button {
  border: 1px solid #FFF;
  color: #fff;
}
.getintouch__column:nth-child(2) .item-getintouch__button:hover {
  background: #fff;
  color: #252B42;
  border: 1px solid #252B42;
}
.getintouch__column:nth-child(2) .item-getintouch__icon {
  position: relative;
}
.getintouch__column:nth-child(2) .item-getintouch__icon img:last-child {
  position: absolute;
  display: block;
  top: 15px;
  left: -14.5px;
  margin: 0 50%;
}
.item-getintouch {
  padding: 50px 0 50px 0;
  text-align: center;
}
@media (max-width: 992px) {
  .item-getintouch {
    padding: 20px;
  }
}
.item-getintouch > *:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-getintouch__address {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
}
.item-getintouch__address a {
  color: inherit;
}
.item-getintouch__address a:hover {
  text-decoration: underline;
}
.item-getintouch__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item-getintouch__button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  color: #FF7B47;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
}
.item-getintouch__button:hover {
  color: #FFF;
  border: 1px solid #FFF;
  background: #FF7B47;
}

/*--------------------------------------------------------*/
.contact {
  padding: 40px 0;
}
.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 754px) {
  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 754px) {
  .contact__content {
    margin: 0 0 15px 0;
    text-align: center;
  }
}
.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
}
.contact__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.contact__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}
.contact__button {
  display: inline-block;
  margin: 0 38px;
  padding: 17px 37px 15px;
  background: #FF7B47;
  border-radius: 5px;
  border: 1px solid #FFf;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.2px;
  text-align: center;
}
.contact__button:hover {
  background-color: #fff;
  border: 1px solid #FF7B47;
  color: #FF7B47;
}
@media (max-width: 754px) {
  .contact__button {
    margin: 0 -15px;
    border-radius: 0;
  }
}

/*---------------------------------------------------*/